<div class="container mt-5">

  <ul>
    {{#each expenses}}
    <li>
      {{ this.name }}
      <a href="./expenses/{{ this._id }}/edit">修改</a>

      <form action="./expenses/{{ this._id }}/delete" method="POST" style="display: inline;">
        <button type="submit">delete</button>
      </form>

    </li>
    {{/each}}
  </ul>

  <a href="./expenses/new">新增支出</a>


</div>