<div class="container mt-5">

  <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      類別
    </button>
    <ul class="dropdown-menu">
      {{#each categoryList}}
      <li><button class="dropdown-item" type="button">{{ this.name }}</button></li>
      {{/each}}
    </ul>
  </div>


</div>

<a href="./expenses/new">新增支出</a>


</div>